<p>
    A piece of writing that's influenced my thinking regarding how I continue to operate this project is Michael Nielsen's
    <a href="https://michaelnotebook.com/wn/website_enhance.html">How to use a personal website to enhance your ability to think and create?</a>.
    In the footnotes, he mentions that a metaphor he likes to use to explain the purpose of his site {% aside "which is to help him think well" %}
    is that of creating an intellectual home for himself: designing and furnishing it, and developing habits that he's comfortable using in it.
</p>

<p>
    Rather than wait until I have a clearer idea of what I want from this website, I've decided to find it through making.
    That means that things will change and break sometimes. {% aside "This aspect does frustrate me sometimes, but I've come to accept it as a worthwhile trade-off." %}
    I try not to break things too often, and if it's important enough, I'll probably archive it in some fashion before messing with something.
</p>