<p>
    First things first: no, "Whit Waltman" is not my government name. That would be kinda cool though, huh?
    It's actually a <a href="https://en.wikipedia.org/wiki/Spoonerism">spoonerism</a>
    {% aside "even if you're not familiar with the term, you've probably come across at least one spoonerism in your lifetime, e.g. 'runny babbit'" %}
    of the name of <a href="https://en.wikipedia.org/wiki/Walt_Whitman">an American poet</a>. I've been using this name for over 5 years now, and it's probably the one I feel most at home in.
</p>

<img src="/img/me.jpg" alt="pic of me" style="float: left; margin-right: var(--s3, 2rem);"/>

<p>
    Writing about myself always feels like a bit of a Herculean task. And I never know what amount of information to share.
    I guess I'll have to just write and see how it feels, and adjust accordingly.
</p>

<p>
    I was born and raised in Southern California. I went to college on the East Coast and am now back home, relishing in the sunshine and warm winter weather.
    I started kayaking during the pandemic, and I picked it up again last year. It's been great for both my physical and mental health;
    I try to go once a week.
</p>

<p>
    I love puzzles. My grandfather introduced me to Sudoku puzzles when I was maybe 6 or 7 years old. I didn't get into crosswords until I was in college, and
    by that point, my interest in puzzles had broadened to anything that falls under the category of logic and word games.
</p>

<p>
    I previously worked as a product designer at a small tech startup. I'm currently semi-employed as a contractor, but am looking for my next full-time thing.
    I do software design and engineering, and I'm hoping to land somewhere I can do a little bit of both.
    {% aside "This website isn't focused on my career trajectory or professional aspirations, but given that it's a part of my life, it felt odd to omit these details entirely. Design and tech are broad fields that touch a lot of different aspects of our lives, so I will probably write about these topics at some point."%}
</p>

<p>
    I guess that's me in a nutshell. Oh, another thing about me is I'm allergic to nuts. I think that's plenty of detail for now.
    You can write to me <span class="contact" id="js">here:</span> <span class="contact" id="no-js"><span class="blockspam" aria-hidden="true">PLS DON'T SPAM ME!</span> whitwaltman@<!-- sdfjsdhfkjypcs -->mailbox.org</span>.
    I love getting emails from other human beings {% aside "conversely, I absolutely despise the ubiquity of marketing emails and the like" %} and am always keen to learn new things. Tell me about yourself or send me a fun fact!
    I'm sometimes slow to respond but I promise I read them all.
</p>

<script>
    const e = "d2hpdHdhbHRtYW5AbWFpbGJveC5vcmc=";
    const target = document.querySelector(".contact#js");
    const text = target.innerHTML.slice(0, -1);
    target.innerHTML = "";
    const link = document.createElement("a");
    link.textContent = text;
    link.setAttribute("href", "mailto:".concat(atob(e)));
    target.appendChild(link);
    const remove = document.querySelector(".contact#no-js");
    remove.style.display = "none";
</script>