<p>This is the internet home of Whit Waltman.</p>

<ul>
    {% for page in collections.all %}
    {% if page.url !== "/" %}
    <li>
        <a href="{{ page.url }}">{{ page.fileSlug }}</a>
        <p>{{ page.data.preview }}</p>
    </li>
    {% endif %}
    {% endfor %}
</ul>