<h2 class="f3 lh-copy fw5">Table of contents</h2>
<ul class="toc list ph0 pv2">
{% for page in collections.all %}
    {% if page.url !== "/" %}
    <li class="dib mr1 mb2">
        <a class="f6 f5-ns db pa2 link dim dark-gray ba b--black-20" href="{{ page.url }}">{{ page.data.title | default(page.fileSlug) }}</a>
    </li>
    {% endif %}
{% endfor %}
</ul>

<img src="/img/me.jpg" alt="pic of me"/>