<p>
    Hi, I'm Whit Waltman.{% aside "No, that's not my government name. That'd be pretty cool, though, huh?" %}
    I'm a software designer and engineer originally from San Diego, CA. {% aside "That picture of me on the home page was taken at the San Diego Zoo!" %}
    I describe this website as my "public notebook". But what does that mean in practice?
</p>

<p>
    Well, I don't really know yet. But that's not something I'll answer here. 