<p>
    This is a /now page. It's a way for me to share what I'm focused on at this point in time.
    My focus can often shift, so it's helpful for me to keep track of what I'm doing and thinking about.
</p>

<p>If you have your own site, you should consider <a href="https://nownownow.com/about">adding a now page</a>.