<h2>Table of contents</h2>
<table class="toc">
    <thead>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>
    </thead>
    <tbody>
        {% for post in collections.posts %}
        <tr>
            <td><a href="{{ post.url }}">{{ post.data.title | default(post.fileSlug) }}</a></td>
            <td><time>{{ post.data.date | mkDate | fmtDate }}</time></td>
            {% if post.data.updated %}
            <td><time>{{ post.data.updated | fmtDate }}</time></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>