/* || Custom variables */
:root {
    --bg-light: rgba(211, 211, 211, 0.3);
    --bg-dark: #121212;

    --color-primary: rgba(64, 201, 255, 0.97);
    --color-highlight: #ffff00;
    --color-accent: rgb(255, 182, 238);

    --text-dark: rgba(0, 0, 0, 0.7);
    --text-white: hsla(0, 0%, 100%, 0.7);
    --text-light: hsla(0, 0%, 100%, 0.4);
    --text-gray: rgb(170, 170, 170);

    /* Scale */
    --ratio: 1.25;
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));   /* 1.25rem */
    --s2: calc(var(--s1) * var(--ratio));   /* 1.56 rem */
    --s3: calc(var(--s2) * var(--ratio));   /* 1.95 rem */
    --s4: calc(var(--s3) * var(--ratio));   /* 2.44 rem */
    --s5: calc(var(--s4) * var(--ratio));   /* 3.05 rem */

    /* Width */
    --w: 90ch;
}

/* || Defaults */
::selection {
    background: var(--color-highlight);
    color: var(--text-dark);
}

a::selection {
    background: var(--color-primary);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--bg-light);
    color: var(--text-dark);
}

body {
    min-height: 100vh;
    overflow-y: scroll;
    width: 100vw;
    font-size: var(--s0);
    display: flex;
    flex-direction: column;
}

img {
    max-width: 30vmin;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}

/* || Headings */
h1 {
    font-size: var(--s5);
    font-weight: 700;
}

h2 {
    font-size: var(--s3);
    font-weight: 600;
    padding-block: 0 var(--s0);
}

h3 {
    font-size: var(--s2);
    font-weight: 600;
    padding-block: 0 var(--s0);
}

/* || Element spacing */
article > * + * {
    margin-top: var(--s3, 1.5rem);
}

article > * + h3 {
    margin-top: var(--s4, 2.5rem);
}

article {
    padding-block: 0 var(--s8);
}

ul, ol {
    padding-block: 0 var(--s2);
}

p + p {
    margin-top: var(--s1, 1.25rem);
}

p + :not(p) {
    margin-top: var(--s4, 2.5rem);
}

/* || Utility classes */

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}