*, *::before, *::after {
    box-sizing: border-box;
    --accent: oklch(89.7% 0.196 126.665);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem 1rem;
    font-size: clamp(1.4rem, 3.5vw, 2rem);
    line-height: 1;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

header a {
    color: black;
    text-decoration: none;
}

header a.curr {
    background: var(--accent);
}

img {
    max-width: 30vw;
    height: auto;
}

main {
    padding: 0 1rem;
    flex-grow: 1;
}

footer {
    padding: 0 1rem;
    flex: 0 0 auto;
    font-size: 85%;
}