/* || Layout */
body > header, body > main, body > footer {
    padding: var(--s1) var(--s0); /* 1.25rem 1rem */

    .content {
        width: var(--w);
        margin-inline: auto;
    }
}

body > header {
    flex: 0 0 auto;
    margin-block: 0 var(--s2);

    .content {
        justify-content: space-between;
    }

    .title h1 {
        letter-spacing: -2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .subtitle {
        font-style: italic;
        font-size: var(--sx);
        font-weight: 300;
    }

    a {
        color: var(--text-gray);
        text-decoration: none;
    }

    a:hover {
        color: var(--color-primary);
    }

    .menu {
        font-weight: 600;
        text-align: right;
        justify-content: flex-end;
    }
}

body > main {
    flex-grow: 1;
}

body > footer {
    flex: 0 0 auto;
    background: var(--bg-dark);
    color: var(--text-light);

    .more {
        font-weight: 300;
        font-size: var(--sx);
        justify-content: space-between;
        gap: calc(var(--s0)/3);
    }

    a {
        color: var(--text-white);
        font-weight: 600;
    }

    a:hover {
        color: var(--color-primary);
    }
}

body table {
    width: var(--w);
    margin-bottom: var(--s2);
}

table th {
    text-align: left;
}

table td {
    padding-right: 4ch;
}

.toc a:hover {
    background: var(--color-accent);
}

td time {
    font-size: var(--sx);
}

/* || Note containers */
body.js-enabled { counter-reset: fn; }
.js-enabled .note-toggle {
    cursor: pointer;
    counter-increment: fn;
}

.js-enabled .note-toggle[aria-expanded="false"]::before { content: "[" counter(fn); }
.note-toggle::before { content: "["; }
.note-toggle::after { content: "]"; }

.js-enabled .note {
    display: none;
}

.note-toggle[aria-expanded="true"] .note::selection {
    background: var(--color-accent);
}

.note-toggle[aria-expanded="true"] .note {
    display: inline;
    font-style: italic;
    color: var(--text-dark);
}

.note-toggle {
    display: inline;
    color: var(--text-gray);
}

.note-toggle:focus {
    outline: none;
}

.note-toggle:focus-visible {
    outline: 2px solid blue;
    outline-offset: 2px;
    border-radius: 2px;
}