/* || Layout */
body > header {
    flex: 0 0 auto;
    padding-block: var(--s1);
    padding-inline: var(--s0);
    margin-block: 0 var(--s2);

    div.header_content {
        display: flex;
        width: var(--w);
        margin-inline: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: calc(var(--s3)/2);
    }

    div.right {
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    div.right a {
        font-weight: 600;
    }

    a {
        color: var(--text-gray);
        text-decoration: none;
    }

    a:hover {
        color: var(--color-primary);
    }

    h1 {
        letter-spacing: -2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    span {
        font-style: italic;
    }
}

body > main {
    flex-grow: 1;
    width: var(--w);
    margin-inline: auto;
    padding-inline: var(--s0);
}

body table {
    width: var(--w);
    margin-bottom: var(--s2);
}

table th {
    text-align: left;
}

table td {
    padding-right: 4ch;
}

.toc a:hover {
    background: var(--color-accent);
}

td time {
    font-size: calc(var(--s2)/2);
}

body > footer {
    flex: 0 0 auto;
    background: var(--bg-dark);
    padding-block: var(--s1);
    padding-inline: var(--s0);

    .footer_content {
        width: var(--w);
        margin-inline: auto;
    }

    * {
        color: var(--text-light);
    }

    a {
        color: var(--text-white);
        font-weight: 600;
    }

    a:hover {
        color: var(--color-primary);
    }

    .more {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: calc(var(--s0)/3);
    }
}

/* || Asides */
body.js-enabled { counter-reset: fn; }
.js-enabled .note-toggle {
    cursor: pointer;
    counter-increment: fn;
}

.js-enabled .note-toggle[aria-expanded="false"]::before { content: "[" counter(fn); }
.note-toggle::before { content: "["; }
.note-toggle::after { content: "]"; }

.js-enabled .note {
    display: none;
}

.note-toggle[aria-expanded="true"] .note::selection {
    background: var(--color-accent);
}

.note-toggle[aria-expanded="true"] .note {
    display: inline;
    font-style: italic;
    color: var(--text-dark);
}

.note-toggle {
    display: inline;
    color: var(--text-gray);
}

.note-toggle:focus {
    outline: none;
}

.note-toggle:focus-visible {
    outline: 2px solid blue;
    outline-offset: 2px;
    border-radius: 2px;
}