<footer>
    <h2>You've reached the end</h2>
    <span>Latest build: {{ site.latestBuild }}</span>
    <div class="socials">
        {% for item in socials %}
        <span><a href="{{ item.location }}">{{ item.place }}</a></span>
        {% endfor %}
    </div>
</footer>