<footer>
    <div class="content">
        <h3>You've reached the end</h3>
        <div class="more">
            <span>
                See what I'm up to <a href="/now">/now</a>
                or take a peek <a href="/colophon">under the hood</a>
            </span>
            <span>Latest build: <time>{{ site.latestBuild }}</time></span>
        </div>
    </div>
</footer>