<header>
    <a href="/" class="{{ 'curr' if 'index' in page.filePathStem }}">xii.iv.vii</a>:

    <a href="/now" class="{{ 'curr' if 'now' in page.filePathStem }}">now</a>

    <a href="/notes" class="{{ 'curr' if 'notes' in page.filePathStem }}">notes</a>

    <a href="/changelog" class="{{ 'curr' if 'changelog' in page.filePathStem }}">changelog</a>
</header>