<header>
    <span><a href="/" class="{{ 'curr' if '/' === page.url }}">xii.iv.vii</a>:</span>
    <span><a href="/now" class="{{ 'curr' if 'now' in page.filePathStem }}">now</a></span>
    <span><a href="/notes" class="{{ 'curr' if 'notes' in page.filePathStem }}">notes</a></span>
    <span><a href="/changelog" class="{{ 'curr' if 'changelog' in page.filePathStem }}">changelog</a></span>
</header>