<header class="header">
    <h1 class="header__title"><a class="header__link" href="/">xii.iv.vii</a></h1>
    <p class="header__description">
        The public notebook of Whit Waltman
    </p>
</header>