---
layout: base.njk
---
<article>
    <header>
        <h1>{{ title }}</h1>
        <div style="display: flex; flex-direction: row; gap: 1em; font-size: 90%;">
            <time>{{ page.date | fmtDate }}</time>
            {% if updated %}
            <span>Updated on <time>{{ updated }}</time></span>
            {% endif %}
        </div>
        <p style="font-size: 95%; font-style: italic;">{{ preview }}</p>
    </header>
    {{ content | safe }}
</article>