---
title: Collections
permalink: collections/index.html
---
<style>
    span.hidden {
        display: none;
    }
</style>
<h2>My favorite crosswords</h2>
{% for x in xw %}
<p>{{ x.link }}</p>
{% for y in x.favorite_clues %}
<ul>
    <li>{{ y.clue }} <span class=hidden>{{ y.answer }}</span></li>
</ul>
{% endfor %}
{% endfor %}