:root {
    --green-50: #EDF7ED;
    --green-100: #DBEFDB;
    --green-200: #C8E8C9;
    --green-300: #B6E0B7;
    --green-400: #A4D8A6;
    --green-500: #91D095;
    --green-600: #7DC783;
    --green-700: #68BF72;
    --green-800: #52B761;
    --green-900: #37AF50;
    --green: #00a63e;
    --blue: #0069A6;
    --brown: #A63D00;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
    overflow-y: auto;
    background: var(--green-100);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/* h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
} */

header {
    padding: 1rem 5vmin;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

header a img {
    height: 100%;

    &:hover {
        transform: rotate(90deg);
        transition: transform 500ms ease-in;
    }
}

header a {
    font-size: 1.25rem;
}

main {
    padding: 0 5vmin;
    flex: 1 1 auto;
}

footer {
    padding: 1rem 5vmin;
}