{% if title %}
{% set pageTitle %}{{ title }} | {{ site.title }}{% endset %}
{% else %}
{% set pageTitle %}{{ site.title }}{% endset %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    {% if production %}
        <title>{{ pageTitle }}</title>
        <link href="/assets/favicon.ico" rel="icon">
    {% else %}
        <title>DEV - {{ pageTitle }}</title>
        <link href="/assets/favicon-dev.ico" rel="icon">
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:title" content="{{ pageTitle }}">
    <meta name="description" content="{{ description or page.excerpt or site.description }}">
</head>

<body class="bg-lime-400 text-black flex flex-col min-h-screen">
    {% include "partials/header.njk" %}
    <main class="bg-white flex-1 px-4 w-2/3">
        {% block content %}
        {{ content | safe }}
        {% endblock %}
    </main>
    {% include "partials/footer.njk" %}
</body>

</html>