---
layout: layouts/html.njk
---
<header>
    <h1><a href="{{ metadata.url }}">{{ metadata.title }}</a></h1>
</header>
<main>
    {{ content | safe }}
</main>
<footer>
    Assembled by hand with words and pixels.
</footer>