{% if title %}
    {% set pageTitle %}{{ title }} | {{ metadata.title }}{% endset %}
{% else %}
    {% set pageTitle %}{{ metadata.title }}{% endset %}
{% endif %}

{% if page.excerpt %}
    {% set pageDescription %}{{ page.excerpt | truncate }}{% endset %}
{% elif page.description %}
    {% set pageDescription %}{{ page.description }}{% endset %}
{% else %}
    {% set pageDescription %}{{ metadata.description }}{% endset %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">

    <title>{{ pageTitle }}</title>
    <link href="/assets/favicon.ico" rel="icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="canonical" href="{{ metadata.url }}{{ page.url }}">

    <meta property="og:site_name" content="{{ metadata.title }}">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:description" content="{{ pageDescription }}">
    <meta name="description" content="{{ pageDescription }}">
</head>

<body>
    {# TODO: edit base style to improve readability (incl. responsive layout) #}
    {% include "partials/header.njk" %}
    <main>
        <div class="content">
            {% block content %}
            {{ content | safe }}
            {% endblock %}
        </div>
    </main>
    {% include "partials/footer.njk" %}
</body>

</html>