{% extends "layouts/base.njk" %}
{% block content %}
    <h2>{{ title }}</h2>
    {{ content | safe}}
    <div>
        <p>LAST UPDATED: {{ page.date | formatPublishDate }} at {{ page.date | formatTime }}</p>
        {# {{ page | dump }} #}
    </div>
{% endblock %}