{% extends "layouts/base.njk" %}

{% set prevPost = collections.posts | getPreviousCollectionItem %}
{% set nextPost = collections.posts | getNextCollectionItem %}

{% block content %}
    <article>
        <h1 class="post-header">{{ title }}</h1>
        <h5>{{ page.date | formatPostDate }} <a class="post-link" href="{{ page.url }}">Link to this post</a></h5>
        {{ content | safe}}
    </article>
    {% if prevPost %}<p>Previous post: <a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a></p>{% endif %}
    {% if nextPost %}<p>Next post: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></p>{% endif %}
{% endblock %}