{% extends "layouts/base.njk" %}
{% block content %}
    <article class="mb-20">
        <h2 class="post-header">{{ title }}</h2>
        <p class="text-sm text-gray-600 font-normal mb-8">{{ page.date | formatPostDate }} <a class="post-link" href="{{ page.url }}">Link to this post</a></p>
        {{ content | safe}}
    </article>
{% endblock %}