{% extends "layouts/base.njk" %}
{% block content %}
    <article>
        <h1 class="post-header">{{ title }}</h1>
        <h5>{{ page.date | formatPostDate }} <a class="post-link" href="{{ page.url }}">Link to this post</a></h5>
        {{ content | safe}}
    </article>
{% endblock %}