{% extends "layouts/base.njk" %}
{% block content %}
    <article>
        <h1 style="margin-bottom: 32px;">{{ title }}</h1>
        {{ content | safe}}
    </article>
    <div style="margin-top: 1.5rem;">
        <p style="color: var(--gray-400); font-size: 0.75rem; font-weight: 500;">
            Last updated {{ page.date | formatPageDate }}.</p>
    </div>
{% endblock %}