---
title: about
date: Last Modified
---
<span class="font-semibold">{{ site.title }}</span> is the weblog of Katie Lin.
It's a mostly static site generated using {{ eleventy.generator }}.
Tailwind CSS and Nunjucks are used to modularize aspects of the code.

<br>
<br>

This website is being served to you via OpenBSD's httpd. If you'd like to set up your own website with it,
<a class="underline" href="https://httpd.rocks/">httpd.rocks</a> is a great resource to start with.

<br>
<br>
<hr>
<br>

Six months ago, I knew next to nothing about running your own web server. Derek Siver's guide to
<a class="underline" href="https://sive.rs/ti">tech independence</a> was a useful starting point
that helped simplify some of the daunting details. I've learned a lot since then, and I've branched
out from the general guidelines Derek provides in order to fit my personal needs.

<br><br><br>

<p class="text-gray-400">Last updated: {{ page.date }}</p>