---
title: blog
pagination:
    data: collections.blogPosts
    size: 10
    alias: posts
---
{% for post in posts %}
    <section class="mb-4">
        <h3><a href="{{ post.url }}" class="underline font-semibold">{{ post.data.title }}</a></h3>
        <p>{{ post.page.excerpt }}</p>
    </section>
    <hr>
{% endfor %}