---
layout: layouts/base.njk
permalink: countdown/index.html
---
<p id="countdown">As of <span id="now_d"></span> at <span id="now_t"></span>, there are
    <span id="d"></span> <span id="d_units"></span>,
    <span id="h"></span> <span id="h_units"></span>, and
    <span id="m"></span> <span id="m_units"></span> until I'm back in Pittsburgh.
</p>
<script type="text/javascript" src="/js/countdown.cjs"></script>