---
layout: layouts/base.njk
permalink: index.html
---
<p class="pb-4">
    Katie Lin is a software designer and engineer.
    They enjoy kayaking and playing bass guitar.
    You can write to them here: <code>c.lin (at) mailbox.org</code>
</p>