---
layout: layouts/base.njk
permalink: index.html
---
<p>Katie Lin is a software designer and engineer. They enjoy kayaking and playing bass guitar. You can write to them here: <code class="px-1 py-0.5 border-1 border-gray-400 border-solid">c.lin (at) mailbox.org</code></p>
