---
title: links
description: links 
---

{% for link in links %}
    <details class="rounded-lg border border-transparent p-2 mb-2 open:border-gray-700/50 open:bg-gray-950/50">
        <summary class="mb-2"><a class="underline text-blue-300 hover:text-blue-500" href="{{ link.url }}">{{ link.title }}</a></summary>
        <div>
            <p class="italic pl-8">{{ link.comment }}</p>
            <p class="text-sm text-gray-400 float-right">{{ link.created | convertTimestamp }}</p>
        </div>
    </details> 
{% endfor %}