---
title: notes
---
{% for note in collections.notes %}
    <section class="mb-4">
        <p>{{ note.content | safe }}</p>
        <p>on {{ note.page.fileSlug | convertTimestamp }}</p>
    </section>
    <hr>
{% endfor %}