<span class="p-author h-card" style="display: none">
        ...
    </span>
<div class="header-wrapper">
    <header class="main">
        <div class="container container-m">
            <div class="main__title">
                ... Robb Knight
            </div>
            <div class="main__links">
                ... Mastodon, RSS
            </div>
        </div>
    </header>
    <nav class="main">
        <div class="container container-m">
            <a href="/blog">Blog</a>
            <a href="/notes">Notes</a>
            <a href="/links" class="active">Links</a>
            <a href="/projects">Projects</a>
            <a href="/now">Now</a>
            <a href="/explore">Explore</a>
        </div>
    </nav>
</div>
<header class="container container-m page-header">
    <h2 class="p-name">Links</h2>
    <span class="post-subtitle"><p>A collection of interesting links</p></span>
</header>
<main>
    <div class="container container-sm h-entry">
        {# view-source:https://rknight.me/links/ #}
        <div class="entryitem">
            <div class="entryitem--data">
                <a href="some_external_link.com">Some External Link <span style="font-weight: normal;">&nearrow;</span></a>
                <hr>
                <span class="entryitem--date">
                    <a href="local_entry_link/index.html">2025-06-18</a>
                </span>
            </div>
            <div class="entryitem--content">
                <p>I think this is just a comment that Robb optionally adds to give context to a link</p>
            </div>
        </div>
        <div class="entryitem">
            <div class="entryitem--data">
                <a href="some_external_link.com">A Second External Link <span style="font-weight: normal;">&nearrow;</span></a>
                <hr>
                <span class="entryitem--date">
                    <a href="local_entry_link/index.html">2025-06-17</a>
                </span>
            </div>
            <div class="entryitem--content">
                <blockquote>
                    <p>Sometimes, Robb includes a direct quote from the link, possibly in addition to his own comment. See below.</p>
                </blockquote>
                <p>Love it</p>
            </div>
        </div>
    </div>
</main>