---
title: my weblog
layout: layouts/page.njk
pagination:
    data: collections.blogPosts
    size: 10
    alias: posts
---
{% for p in posts %}
    <section>
        <h3><a href="{{ p.url }}">{{ p.data.title }}</a></h3>
        <p>{{ p.content | safe }}</p>
    </section>
{% endfor %}