/* https://uicolors.app/tailwind-colors */
:root {
    --lime-200: oklch(0.938 0.127 124.321);
    --lime-400: oklch(0.841 0.238 128.85);
    --slate-400: oklch(0.704 0.04 256.788);
    --gray-200: oklch(0.928 0.006 264.531);
    --gray-300: oklch(0.872 0.01 258.338);
    --gray-400: oklch(0.707 0.022 261.325);
    --gray-500: oklch(0.551 0.027 264.364);
    --zinc-200: oklch(0.92 0.004 286.32);
    --zinc-400: oklch(0.705 0.015 286.067);
    --neutral-300: oklch(0.87 0 0);
    --neutral-400: oklch(0.708 0 0);
    --neutral-500: oklch(0.556 0 0);
    --neutral-800: oklch(0.269 0 0);
    --stone-400: oklch(0.709 0.01 56.259);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--neutral-800);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

p {
    font-size: 1.1rem;
}

header {
    background-color: white;
    border-bottom: 0.75px solid var(--gray-300);
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

header span {
    /* top + bottom | left + right */
    padding: 0 0.125rem;
}

header span a {
    color: var(--stone-400);
    text-decoration: none;
}

header span a:hover {
    color: black;
}

header, main, footer {
    padding: 0.75rem;
}

main, div.content {
    background-color: white;
}

main {
    flex: 1;
    padding-top: 4rem;
}

div:has(> blockquote) {
    background-color: var(--lime-200);
    width: 60%;
    min-width: 600px;
    padding: 0.5rem;
    border: 1px solid var(--lime-400);
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}

blockquote + p {
    text-align: right;
    font-size: 0.9rem;
}

ul.plain {
    list-style-type: none;
    padding-inline-start: 0;
}

ul.plain li {
    margin-bottom: 0.5rem;
}

span.tag {
    background-color: var(--neutral-300);
    border: 1px solid var(--neutral-500);
    border-radius: 4px;
}

footer p {
    font-size: 0.9rem;
}

/* CSS RESET: https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}