<p>
    This is a <b>now</b> page. It's a way for me to share what I'm focused on at this point in time.
    My focus can often shift, so it's helpful for me to keep track of what I'm doing and thinking about.
</p>

<p>If you have your own site, you should consider <a href="https://nownownow.com/about">adding a now page</a>.

<hr/>

<p class="metadata">Last updated: <time>{{ "2026-02-19T22:03:47Z" | mkDate | fmtDate }}</time></p>

<p>
    I've been working on v2 of this website (what you're seeing right now) for a couple of weeks now.
    Part of the reason it's taken so long is that I've basically started over from scratch. I liked the previous version,
    but it wasn't really designed to be a "living website". I scarcely updated it, and it felt like an underutilized space.
</p>