---
layout: layouts/base.njk
---
<p>
    This is a page to display countdowns to events in my life.
    It gives me something to look forward to and helps me conceptualize the passage of time.
</p>
<p>As of <span id="now"></span></p>

<script>
    const now = new Date();
    document.getElementById("now").innerText = now.toDateString();
</script>