---
layout: layouts/base.njk
---
<p>
    Hi, I'm Whit Waltman.<sup><a id="1" class="text-blue-700 underline" href="#fn-1">1</a></sup>
</p>
<div class="mt-10">
    <sup>1</sup> Not my actual name <a id="fn-1" class="text-blue-700" href="#1">&crarr;</a>
</div>