---
title: Links
date: Last Modified
description: My collection of hyperlinks from around the world wide web.
section: links
---

<ul class="plain">
    {% for link in links %}
    <li>
        <p><a class="ext-link" target="_blank" rel="noopener noreferrer"
            href="{{ link.url }}">{{ link.title }}</a></p>
        {# {% if link.tags %}
            {% for tag in link.tags %}
                <span class="tag">{{ tag }}</span>
            {% endfor %}
        {% endif %} #}
    </li>
    {% endfor %}
</ul>

<div>
    <blockquote>
        Links are the lifeblood of the web, and linking to other sites is a declaration of independence.
        Its a declaration that says, "I am the infrastructure of the web, I am not content, nor am I a
        product, I am a human and a participant in this great work of humanity we call the Internet".
    </blockquote>
    <p>- <a href="https://thoughts.melonking.net/thoughts/every-site-needs-a-links-page-why-linking-matters">Every site needs a Links Page / Why linking matters</a></p>
</div>