---
layout: layouts/base.njk
---
<p>
    This is a <strong>now</strong> page. It's a way for me to share what I'm focused on
    at this point in my life. My focus can often shift, so it's helpful
    for me to keep track of what I'm doing and thinking about.
</p>
<p>
    If you have your own site, you should consider
    {% a "https://nownownow.com/about", "adding a now page" %}.
</p>

<div class="update">
    <div class="status-bar">
        <span>NOW</span>
        <span class="text-neutral-400">Updated {{ now[0].date | simpleDate }}</span>
    </div>
    <ul>
        {% for bullet in now[0].content %}
        <li>{{ bullet }}</li>
        {% endfor %}
    </ul>
</div>