---
title: Posts
date: Last Modified
section: posts
description: Pages from my notebook. Mostly just stuff I'm thinking about at the moment.
---
<ul>
    {% for post in collections.posts %}
    <li>{{ post.date | formatPublishDate }}: <a href="{{ post.url }}">{{ post.data .title or post.url }}</a></li>
    {% endfor %}
</ul>