---
title: Shoebox
date: Last Modified
section: shoebox
description: A collection of things that defy typical categorization. Inspired by Giles Turnbull.
---

<ul>
    {% for item in collections.shoebox %}
    <li><a href="{{ item.url }}">{{ item.url }}</a></li>
    {% endfor %}
</ul>