<footer class="mx-8 my-4">
    <nav class="">
        <a href="/blog">blog</a>
        <a href="/links">links</a>
        <a href="/notes">notes</a>
        <a href="/explore">explore</a>
        <a href="/colophon">colophon</a>
    </nav>
</footer>