<header>
    <span {% if section == 'home' %}
        style="color: black; text-decoration: underline;"
        {% endif %}><a href="/">Home</a></span>
    <span>Blog</span>
    <span {% if section == 'links' %}
        style="color: black; text-decoration: underline;"
        {% endif %}><a href="/links">Links</a></span>
    <span>Index</span>
    <span>More</span>
</header>